<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Demo</title>
    <link rel="shortcut icon" type="image/icon" href="~/assets/images/favicon.ico" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css" />
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-progressbar-3.3.4.css" />
    <link id="switcher" href="~/assets/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <header id="header">
        <div class="header-top">
            <div class="container">
                <form action="">
                    <div id="search">
                        <input type="text" placeholder="Type your search keyword here and hit Enter..." name="s" id="m_search" style="display: inline-block;">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="header-contact">
                            <ul>
                                <li>
                                    <div class="phone">
                                        <i class="fa fa-phone"></i>
                                        +1(800) 699-7071
                                    </div>
                                </li>
                                <li>
                                    <div class="mail">
                                        <i class="fa fa-envelope"></i>
                                        iam@domain.com
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="header-login">
                            <a class="login modal-form" data-target="#login-form" data-toggle="modal" href="#">Login / Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div aria-hidden="false" role="dialog" tabindex="-1" id="login-form" class="modal leread-modal fade in">
        <div class="modal-dialog">
            <!-- Start login section -->
            <div id="login-content" class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><i class="fa fa-unlock-alt"></i>Login</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="User name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="loginbox">
                            <label><input type="checkbox"><span>Remember me</span></label>
                            <button class="btn signin-btn" type="button">SIGN IN</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer footer-box">
                    <a href="#">Forgot password ?</a>
                    <span>No account ? <a id="signup-btn" href="#">Sign Up.</a></span>
                </div>
            </div>
            <!-- Start signup section -->
            <div id="signup-content" class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><i class="fa fa-lock"></i>Sign Up</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="signupbox">
                            <span>Already got account? <a id="login-btn" href="#">Sign In.</a></span>
                        </div>
                        <div class="loginbox">
                            <label><input type="checkbox"><span>Remember me</span><i class="fa"></i></label>
                            <button class="btn signin-btn" type="button">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="menu-area">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Dashboard">Product Demo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li><a href="/Home/Dashboard">Home</a></li>
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Blog Archive</a></li>
                                <li><a href="#">Blog Single with Left Sidebar</a></li>
                                <li><a href="#">Blog Single with Right Sidebar</a></li>
                                <li><a href="#">Blog Single with out Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">404 Page</a></li>
                        <li class="active"><a href="#">Contact</a></li>
                        <li class=""><a href="/Home/Index">Testing</a></li>
                    </ul>
                </div>
                <a href="#" id="search-icon">
                    <i class="fa fa-search">
                    </i>
                </a>
            </div>
        </nav>
    </section>
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-left">
                        <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-right">
                        <a href="index.html"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/js/slick.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.fancybox.pack.js"></script>
    <script src="~/assets/js/waypoints.js"></script>
    <script src="~/assets/js/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/assets/js/wow.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-progressbar.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>

    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>

    <script>
            System.import('app').catch(function (err) { console.error(err); });
    </script>


</body>
</html>
@*<!DOCTYPE html>
    <html>
    <head>
        <title>Angular QuickStart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">

        <script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/reflect-metadata/Reflect.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <script src="systemjs.config.js"></script>

        <script>
            System.import('app').catch(function (err) { console.error(err); });
        </script>
    </head>
    <body>
        @RenderBody()
    </body>
    </html>*@
